/* general */
html, body {
  height: 100vh;
  overflow: hidden;
}

body {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  background-color: #eceef0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header {
  width: 1200px;
  position: relative;
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  display: none;
}

h1 {
  font-family: 'Abril Fatface', cursive;
  font-weight: 400;
  font-size: 5em;
  text-align: center;
  color: #1b3b46;
  margin: 15px 0 30px 0;
}

p, a {
  font-family: 'Karla', sans-serif;
  font-weight: 400;
  font-size: 1.4em;
  color: #1b3b46;
  line-height: 130%;
}

img {
  position: absolute;
  margin: 0 auto;
  height: auto;
  width: 100%;
}

.landscape {
  height: 100%;
  width: auto;
}

.polaroid {
  background-color: white;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  height: 480px;
  width: 400px;
  padding-top: 1px;
}

.film {
  background-color: black;
  position: relative;
  margin: 20px 0 0 20px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.polaroid .film {
  height: 360px;
  width: 360px;
}

/* main */
main::-webkit-scrollbar {
  width: 0 !important;
  display: none;
}

main {
  padding-bottom: 100px;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100vh;
  width: 1200px;
  scroll-snap-type: y mandatory;
}

section {
  margin: 400px 0;
  height: 100vh;
  scroll-snap-align: center;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

article {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#intro {
  flex-direction: column;
  justify-content: center;
}

/* sections */
.stack {
  padding: 0 50px;
}

.stack .polaroid:first-child {
  transform: rotate(-1deg);
}

.stack .polaroid:nth-child(2), .stack .polaroid:nth-child(4) {
  margin-top: -450px;
  margin-left: 30px;
  transform: rotate(10deg);
}

.stack .polaroid:nth-child(3), .stack .polaroid:nth-child(5) {
  margin-top: -470px;
  margin-left: -10px;
  transform: rotate(-5deg);
}

.stack:hover {
  cursor: pointer;
}

.expanded {
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-snap-type: y mandatory;
}

.expanded::-webkit-scrollbar {
  width: 0 !important;
  display: none;
}

.expanded .polaroid {
  scroll-snap-align: center;
}

.date {
  font-family: 'Abril Fatface', cursive;
  font-weight: 400;
  font-size: 12em;
  -webkit-text-stroke: 1px rgb(0, 0, 0, 0.25);
  text-align: right;
  margin: 0;
  color: transparent;
}

/* outro */
#outro {
  width: 1200px;
  justify-content: center;
  padding: 15px 0;
}

#outro a {
  margin: 0 15px;
  text-decoration: none;
}

footer {
  display: none;
}
