/* general */
html, body {
  height: 100vh;
  overflow: hidden;
}

body {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  background-color: #eceef0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header {
  width: 1200px;
  position: relative;
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  display: none;
}

h1 {
  font-family: 'Abril Fatface', cursive;
  font-weight: 400;
  font-size: 9em;
  text-align: center;
  color: #1b3b46;
  margin: 15px 0 30px 0;
}

p, a {
  font-family: 'Karla', sans-serif;
  font-weight: 400;
  font-size: 2em;
  color: #1b3b46;
  line-height: 130%;
}

img {
  position: absolute;
  margin: 0 auto;
  height: auto;
  width: 100%;
}

/* main */
main::-webkit-scrollbar {
  width: 0 !important;
  display: none;
}

main {
  padding-bottom: 100px;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100vh;
  width: 1200px;
  scroll-snap-type: y mandatory;
}

section {
  margin: 400px 0;
  height: 100vh;
  scroll-snap-align: center;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

article {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* intro section */
#intro {
  flex-direction: column;
  justify-content: center;
}

.clip-text {
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-image: url(images/la/1.jpg);
  background-position: 50% 47%;
  color: #1b3b46;
  transition: background-image 1s ease-in-out;
}

/* sections */
.landscape {
  height: 100%;
  width: auto;
}

.polaroid {
  background-color: white;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  height: 480px;
  width: 400px;
  padding-top: 1px;
}

.film {
  background-color: black;
  position: relative;
  margin: 20px 0 0 20px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.polaroid .film {
  height: 360px;
  width: 360px;
}

.caption {
  position: absolute;
  transform: rotate(-90deg);
  margin-left: -200px;
  margin-top: 200px;
}

.collapsed .polaroid .caption {
  display: none;
}

.stack {
  padding: 0 50px;
}

.stack .polaroid {
  transition: margin-left 0.5s ease-out;
}

.collapsed .one {
  transform: rotate(-1deg);
}

.expandedStack .one {
  transform: rotate(2deg);
}

.two {
  margin-top: -450px;
  transform: rotate(10deg);
}

.three {
  margin-top: -470px;
  transform: rotate(-5deg);
}

.inactive1 {
  margin-left: 0px;
}

.expandedStack .inactive1 {
  margin-left: -35px;
}

.inactive2 {
  margin-left: 30px;
}

.inactive3 {
  margin-left: -10px;
}

.hover2 {
  margin-left: 50px;
}

.hover3 {
  margin-left: -20px;
}

.stack:hover {
  cursor: pointer;
}

.expandedStack {
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-snap-type: y mandatory;
  padding-right: 100%;
  transition: margin 2s;
  /* try keyframes */
}

.expandedStack::-webkit-scrollbar {
  width: 0 !important;
  display: none;
}

.expandedStack .polaroid {
  scroll-snap-align: center;
  margin-top: 0 !important;
}

.date {
  font-family: 'Abril Fatface', cursive;
  font-weight: 400;
  font-size: 12em;
  -webkit-text-stroke: 1px rgb(0, 0, 0, 0.25);
  text-align: right;
  margin: 0;
  color: transparent;
}

.expandedDate {
  position: absolute;
  z-index: -1;
}

.expandedSection {
  justify-content: flex-start;
}

/* outro */
#outro {
  width: 1200px;
  justify-content: center;
  padding: 15px 0;
}

#outro a {
  margin: 0 15px;
  text-decoration: none;
}
