body {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  background-color: #eceef0;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

section {
  width: 30%;
}

article {
  position: relative;
  margin-bottom: 35px;
}

h1 {
  font-family: 'Playfair Display', serif;
  font-weight: 800;
  font-size: 5em;
  color: #1b3b46;
  margin-top: 25px;
  margin-bottom: 0;
}

h2 {
  font-family: 'Playfair Display', serif;
  font-weight: 600;
  font-size: 2em;
  color: #1b3b46;
  margin: 0;
  padding: 15px;
}

a {
  font-family: 'Karla', sans-serif;
  font-weight: 400;
  font-size: 1.5em;
  color: #1b3b46;
  text-decoration: none;
  line-height: 150%;
  background-image: linear-gradient(to right, transparent 50%, #e9c46a 50%);
  background-size: 200%;
  transition: background-position 0.5s ease-out;
}

a:hover {
  background-position: -100% 0;
}

li {
  list-style-type: none;
}

#banner {
  width: 100%;
  height: 250px;
  position: relative;
  margin-bottom: 50px;
}

#banner h2 {
  font-size: 2.5em;
  padding-left: 0;
}

#shapes {
  position: absolute;
  top: 0;
  right: 0;
}

.shapes-row {
  display: flex;
  justify-content: flex-end;
}

.square {
  width: 50px;
  height: 50px;
}

.top-left-radius {
  border-radius: 100% 0 0 0;
}

.top-right-radius {
  border-radius: 0 100% 0 0;
}

.bottom-right-radius {
  border-radius: 0 0 100% 0;
}

.bottom-left-radius {
  border-radius: 0 0 0 100%;
}

.dark-blue {
  background-color: #264653;
}

.green {
  background-color: #2a9d8f;
}

.yellow {
  background-color: #e9c46a;
}

.orange {
  background-color: #f4a261;
}

.transparent {
  background-color: transparent;
}

/* main heading animation */
#gradient {
  animation: move 15s ease-in-out infinite alternate;
  background: linear-gradient(to left, #e9c46a, #2a9d8f, #264653);
  background-size: 400%;
  -webkit-background-clip: text;
  color: transparent;
}

@keyframes move {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

/* columns */
.title {
  border-top: 7px solid #2a9d8f;
  padding-left: 50px;
}

.number {
  border-top: 7px solid #264653;
  position: absolute;
  top: 0;
  left: 0;
  padding-right: 20px;
}

/* footer */
footer {
  width: 1200px;
  bottom: 0;
  display: flex;
  justify-content: flex-end;
}

footer a {
  margin-left: 30px;
}

footer a:hover {
  background-position: 0 0;
}
