body {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  background-color: #eceef0;
}

header {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-top: 50px;
}

main {
  width: 700px;
  margin: 150px auto;
}

h1 {
  font-family: 'Playfair Display', serif;
  font-weight: 800;
  font-size: 5em;
  text-align: center;
  color: #1b3b46;
  margin: 15px 0 30px 0;
}

h2 {
  font-family: 'Playfair Display', serif;
  font-weight: 600;
  font-size: 2.5em;
  color: #1b3b46;
  margin: 0;
}

h3, figcaption {
  font-family: 'Karla', sans-serif;
  font-weight: 300;
  font-size: 1.3em;
  color: #1b3b46;
}

p, a {
  font-family: 'Karla', sans-serif;
  font-weight: 400;
  font-size: 1.4em;
  color: #1b3b46;
  line-height: 130%;
}

a {
  font-size: 1.3em;
}

article {
  padding-bottom: 75px;
}

.graphic {
  position: relative;
}

/* shapes styles */
.shapes-row {
  display: flex;
  justify-content: center;
}

.square {
  width: 50px;
  height: 50px;
}

.top-left-radius {
  border-radius: 100% 0 0 0;
}

.top-right-radius {
  border-radius: 0 100% 0 0;
}

.bottom-right-radius {
  border-radius: 0 0 100% 0;
}

.bottom-left-radius {
  border-radius: 0 0 0 100%;
}

.dark-blue {
  background-color: #264653;
}

.green {
  background-color: #2a9d8f;
}

.yellow {
  background-color: #e9c46a;
}

.orange {
  background-color: #f4a261;
}

.transparent {
  background-color: transparent;
}

/* footer */
footer {
  width: 1200px;
  bottom: 0;
  display: flex;
  justify-content: flex-end;
  padding: 15px 0;
}

footer a {
  margin-left: 30px;
  text-decoration: none;
}
